{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">가입일자</th>
        <th scope="col">회원여부</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
    {{/member}}
    </tbody>
</table>
<a href="/members/{{member.id}}/edit" class="btn btn-primary">수정</a>
<a href="/members/{{member.id}}/delete" class="btn btn-primary">삭제</a>
<a href="/members" class="btn btn-secondary">글목록</a>
{{>layouts/footer}}